h1 {
    font-size: 90px !important;
    color: $primaryColor !important;
}

h2 {
    font-size: 50px !important;
    margin-bottom: 50px !important;
    margin-top: 100px !important;
}

h3 {
    font-size: 40px !important;
    margin: 15px 0 !important;
    color: $primaryColor !important;
}
