
// Body
//$body-bg: $thirdColor;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;

$line-height-base: 1.6;

// Colors
$black: #0D0000;
$blueFonce: #354751;
$blueLight: #738D9C;
$cream: #F4EEE2;
$grey : #67696E;
$yellow: #EED069;

$primaryColor: $blueFonce;
$secondColor: $yellow;
$thirdColor: $cream;
$otherOneColor: $blueLight;
$otherSecondColor: $grey;